In [1]:
import os
import pandas as pd
import yfinance as yf

In [ ]:
def download(ticker, start=None, end=None):
    if start is None:
        return yf.Ticker(ticker).history(period="max")
    else:
        return yf.Ticker(ticker).history(start=start, end=end)

In [4]:
url = 'https://raw.githubusercontent.com/datasets/s-and-p-500-companies/master/data/constituents.csv'
df_tickers = pd.read_csv(url)
df_tickers

    Symbol                    Name                  Sector
0      MMM              3M Company             Industrials
1      AOS         A.O. Smith Corp             Industrials
2      ABT     Abbott Laboratories             Health Care
3     ABBV             AbbVie Inc.             Health Care
4     ABMD             ABIOMED Inc             Health Care
..     ...                     ...                     ...
500    YUM         Yum! Brands Inc  Consumer Discretionary
501   ZBRA      Zebra Technologies  Information Technology
502    ZBH  Zimmer Biomet Holdings             Health Care
503   ZION           Zions Bancorp              Financials
504    ZTS                  Zoetis             Health Care

[505 rows x 3 columns]

In [5]:
df_sp500 = pd.DataFrame()
for ticker in df_tickers.Symbol:
    if ticker=='BRK.B':
        ticker = 'BRK-B'
    if ticker=='BF.B':
        ticker = 'BF-B'
    df_ = download(ticker).rename(columns={'Close' : ticker})[[ticker]]
    df_sp500 = df_sp500.join(df_ticker, how='outer')
df_sp500

,MMM,AOS,ABT,ABBV,ABMD,ACN,ATVI,ADBE,AAP,AMD,...,WYNN,XEL,XRX,XLNX,XYL,YUM,ZBRA,ZBH,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
1962-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-30,174.11,54.71,108.44,105.27,323.92,257.54,91.58,497.45,157.66,92.29,...,113.40,65.65,22.89,142.10,100.78,109.51,383.75,152.22,43.22,164.27
2020-12-31,174.79,54.82,109.49,107.15,324.20,261.21,92.85,500.12,157.51,91.71,...,112.83,66.67,23.19,141.77,101.79,108.56,384.33,154.09,43.44,165.50
2021-01-04,171.87,53.92,109.11,105.41,316.73,256.46,89.90,485.34,157.34,92.30,...,106.90,65.66,22.46,142.43,99.69,105.82,378.13,153.16,42.93,163.59
2021-01-05,171.58,54.27,110.46,106.50,322.60,257.92,90.69,485.69,157.17,92.77,...,110.19,65.02,22.85,144.23,99.57,105.83,380.57,155.81,43.61,164.73
2021-01-05,171.58,54.27,110.46,106.50,322.60,257.92,90.69,485.69,157.17,92.77,...,110.19,65.02,22.85,144.23,99.57,105.83,380.57,155.81,43.61,164.73

In [6]:
os.makedirs('../data/sp500', exist_ok=True)
for ticker in df_tickers.Symbol:
    if ticker=='BRK.B':
        ticker = 'BRK-B'
    if ticker=='BF.B':
        ticker = 'BF-B'
    df_ticker = download(ticker)
    df_ticker.to_csv(f'../data/sp500/{ticker}.csv')