To install yfinance, run the following in terminal:
```
$ pip install yfinance
```
    
[yfinance](https://pypi.org/project/yfinance/)

In [1]:
import pandas_datareader.data as pdr
import yfinance as yf; yf.pdr_override() # <== that's all it takes :-)
data = pdr.get_data_yahoo("SPY", start="2017-01-01", end="2017-04-30")

[*********************100%***********************]  1 of 1 completed

In [2]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-01-03,225.039993,225.830002,223.880005,225.240005,210.625656,91366500
2017-01-04,225.619995,226.750000,225.610001,226.580002,211.878738,78744400
2017-01-05,226.270004,226.580002,225.479996,226.399994,211.710403,78379000
2017-01-06,226.529999,227.750000,225.899994,227.210007,212.467834,71559900
2017-01-09,226.910004,227.070007,226.419998,226.460007,211.766541,46939700
...,...,...,...,...,...,...
2017-04-24,237.179993,237.410004,234.559998,237.169998,222.746445,119209900
2017-04-25,237.910004,238.949997,237.809998,238.550003,224.042496,76698300
2017-04-26,238.509995,239.529999,238.350006,238.399994,223.901657,84702500
2017-04-27,238.770004,238.949997,237.979996,238.600006,224.089447,57410300
2017-04-28,238.899994,238.929993,237.929993,238.080002,223.601120,63532800

# Reference

[yfinance](https://pypi.org/project/yfinance/)