In [1]:
import yfinance as yf
spy = yf.Ticker("SPY")
data = spy.history(start="2017-01-01", end="2017-04-30")
# data = spy.history(period='max')

In [2]:
data

              Open    High     Low   Close     Volume  Dividends  Stock Splits
Date
2017-01-03  210.44  211.18  209.35  210.63   91366500        0.0             0
2017-01-04  210.98  212.04  210.97  211.88   78744400        0.0             0
2017-01-05  211.59  211.88  210.85  211.71   78379000        0.0             0
2017-01-06  211.83  212.97  211.24  212.47   71559900        0.0             0
2017-01-09  212.19  212.34  211.73  211.77   46939700        0.0             0
...            ...     ...     ...     ...        ...        ...           ...
2017-04-24  222.76  222.97  220.30  222.75  119209900        0.0             0
2017-04-25  223.44  224.42  223.35  224.04   76698300        0.0             0
2017-04-26  224.00  224.96  223.85  223.90   84702500        0.0             0
2017-04-27  224.25  224.42  223.51  224.09   57410300        0.0             0
2017-04-28  224.37  224.40  223.46  223.60   63532800        0.0             0

[81 rows x 7 columns]

# Reference

[yfinance](https://pypi.org/project/yfinance/)